# Reading and writing from/to SQL databases

In [2]:
import os, sys, pandas as pd, numpy as np

## reference SQLite

In [4]:
# reference SQLite
import sqlite3

# read in the stock data from CSV
msft = pd.read_csv("data/msft.csv")
msft["Symbol"]="MSFT"
aapl = pd.read_csv("data/aapl.csv")
aapl["Symbol"]="AAPL"

# create connection
connection = sqlite3.connect("data/stocks.sqlite")

# .to_sql() will create SQL to store the DataFrame
# in the specified table. if_exists specifies
# what to do if the table already exists
msft.to_sql("STOCK_DATA", connection, if_exists="replace")
aapl.to_sql("STOCK_DATA", connection, if_exists="append")

# commit the SQL and close the connection
connection.commit()
connection.close()

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:1165: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

## connect to the database file

In [5]:
# connect to the database file
connection = sqlite3.connect("data/stocks.sqlite")

# query all records in STOCK_DATA
# returns a DataFrame
# inde_col specifies which column to make the DataFrame index
stocks = pd.io.sql.read_sql("SELECT * FROM STOCK_DATA;",
                            connection, index_col='index')

# close the connection
connection.close()

# report the head of the data retrieved
stocks.head()

             Date   Open   High    Low  Close   Volume  Adj Close Symbol
index
0      2014-07-21  83.46  83.53  81.81  81.93  2359300      81.93   MSFT
1      2014-07-18  83.30  83.40  82.52  83.35  4020800      83.35   MSFT
2      2014-07-17  84.35  84.63  83.33  83.63  1974000      83.63   MSFT
3      2014-07-16  83.77  84.91  83.66  84.91  1755600      84.91   MSFT
4      2014-07-15  84.30  84.38  83.20  83.58  1874700      83.58   MSFT

## open the connection

In [7]:
# open the connection
connection = sqlite3.connect("data/stocks.sqlite")

# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE Volume>29200100 AND \
Symbol='MSFT';"

# execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()

# report the query result
items

             Date   Open   High    Low  Close    Volume  Adj Close Symbol
index
1081   2010-05-21  42.22  42.35  40.99  42.00  33610800      36.48   MSFT
1097   2010-04-29  46.80  46.95  44.65  45.92  47076200      38.41   MSFT
1826   2007-06-15  89.80  92.10  89.55  92.04  30656400      35.87   MSFT
3455   2001-03-16  47.00  47.80  46.10  45.33  40806400      17.66   MSFT
3712   2000-03-17  49.50  50.00  48.29  50.00  50860500      19.48   MSFT