# Accessing data on the web and in the cloud

In [3]:
import os, sys, pandas as pd, numpy as np

## read csv directly from Yahoo! Finance from a URL

In [8]:
# read csv directly from Yahoo! Finance from a URL
df = pd.read_csv("http://chart.finance.yahoo.com/table.csv?s=MSFT&" + 
                 "a=8&b=27&c=2016&" + 
                 "d=9&e=27&f=2016&" + 
                 "g=d&ignore=.csv")
df[:5]

         Date       Open       High        Low      Close    Volume  Adj Close
0  2016-10-26  60.810001  61.200001  60.470001  60.630001  29825100  60.630001
1  2016-10-25  60.849998  61.369999  60.799999  60.990002  35137200  60.990002
2  2016-10-24  59.939999  61.000000  59.930000  61.000000  54067000  61.000000
3  2016-10-21  60.279999  60.450001  59.490002  59.660000  80032200  59.660000
4  2016-10-20  57.500000  57.520000  56.660000  57.250000  49455600  57.250000