## Reading and writing data in an Excel format

In [1]:
import os, sys, pandas as pd, numpy as np

In [3]:
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("data/stocks.xlsx")
df.head()

        Date   Open   High    Low  Close   Volume  Adj Close
0 2014-07-21  83.46  83.53  81.81  81.93  2359300      81.93
1 2014-07-18  83.30  83.40  82.52  83.35  4020800      83.35
2 2014-07-17  84.35  84.63  83.33  83.63  1974000      83.63
3 2014-07-16  83.77  84.91  83.66  84.91  1755600      84.91
4 2014-07-15  84.30  84.38  83.20  83.58  1874700      83.58

### read from the aapl worksheet

In [4]:
# read from the aapl worksheet
aapl = pd.read_excel("data/stocks.xlsx", sheetname='aapl')
aapl.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2014-07-21  94.99  95.00  93.72  93.94  38887700      93.94
1 2014-07-18  93.62  94.74  93.02  94.43  49898600      94.43
2 2014-07-17  95.03  95.28  92.57  93.09  57152000      93.09
3 2014-07-16  96.97  97.10  94.74  94.78  53396300      94.78
4 2014-07-15  96.80  96.85  95.03  95.32  45477900      95.32

### save to an .XLS file, in worksheet 'Sheet1'

In [6]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("stocks2.xls")

### write making the worksheet name MSFT

In [10]:
# write making the worksheet name MSFT
df.to_excel("data/stocks_msft.xls", sheet_name='MSFT')

### write multiple sheets

In [ ]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("data/all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

### write to xlsx

In [11]:
# write to xlsx
df.to_excel("msft2.xlsx")