# Reading HTML data from the Web

In [2]:
import os, sys, pandas as pd, numpy as np

## the URL to read

In [3]:
# the URL to read
url = "https://www.fdic.gov/bank/individual/failed/banklist.html"

# read it
banks = pd.read_html(url)

# examine a subset of the first table read
banks[0][0:5].ix[:,0:4]

                      Bank Name             City  ST   CERT
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

In [8]:
type(banks)

list

In [9]:
type(banks[0])

pandas.core.frame.DataFrame

In [10]:
banks[0][0:5]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date,Loss Share Type,Agreement Terminated,Termination Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","October 17, 2016",none,NaN,NaN
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","October 17, 2016",none,NaN,NaN
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016",none,NaN,NaN
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016",none,NaN,NaN
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016",none,NaN,NaN

In [11]:
banks[0][0:5].ix[:,0:4]

                      Bank Name             City  ST   CERT
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

### read the stock data

In [14]:
# read the stock data
df = pd.read_excel("data/stocks.xlsx")

# write the first two rows to HTML
df.head(2).to_html("stocks.html")

# check the first 28 lines of the output
# !head -n 28 data/stocks.html # max or linux
!type stocks.html # window, but prints the entire file

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2014-07-21</td>
      <td>83.46</td>
      <td>83.53</td>
      <td>81.81</td>
      <td>81.93</td>
      <td>2359300</td>
      <td>81.93</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2014-07-18</td>
      <td>83.30</td>
      <td>83.40</td>
      <td>82.52</td>
      <td>83.35</td>
      <td>4020800</td>
      <td>83.35</td>
    </tr>
  </tbody>
</table>

stocks.html


The system cannot find the file specified.
Error occurred while processing: #.
The system cannot find the file specified.
Error occurred while processing: window.
The system cannot find the file specified.
Error occurred while processing: but.
The system cannot find the file specified.
Error occurred while processing: prints.
The system cannot find the file specified.
Error occurred while processing: the.
The system cannot find the file specified.
Error occurred while processing: entire.
The system cannot find the file specified.
Error occurred while processing: file.