# Reading and writing JSON fies

### write the excel data to a JSON file

In [1]:
import os, sys, pandas as pd, numpy as np

In [2]:
# write the excel data to a JSON file
df_from_json = pd.read_json("data/stocks.json")  # read data in from JSON
df_from_json.head(5)
# !cat data/stocks.json # osx or Linux
!type data\stocks.json # windows

{"Date":{"0":1405900800000,"1":1405641600000,"2":1405555200000,"3":1405468800000,"4":1405382400000},"Open":{"0":83.46,"1":83.3,"2":84.35,"3":83.77,"4":84.3},"High":{"0":83.53,"1":83.4,"2":84.63,"3":84.91,"4":84.38},"Low":{"0":81.81,"1":82.52,"2":83.33,"3":83.66,"4":83.2},"Close":{"0":81.93,"1":83.35,"2":83.63,"3":84.91,"4":83.58},"Volume":{"0":2359300,"1":4020800,"2":1974000,"3":1755600,"4":1874700},"Adj Close":{"0":81.93,"1":83.35,"2":83.63,"3":84.91,"4":83.58}}

data\stocks.json


The system cannot find the file specified.
Error occurred while processing: #.
The system cannot find the file specified.
Error occurred while processing: windows.

In [3]:
# read data in from JSON
df_from_json = pd.read_json("data/stocks.json")
df_from_json.head(5)

   Adj Close  Close       Date   High    Low   Open   Volume
0      81.93  81.93 2014-07-21  83.53  81.81  83.46  2359300
1      83.35  83.35 2014-07-18  83.40  82.52  83.30  4020800
2      83.63  83.63 2014-07-17  84.63  83.33  84.35  1974000
3      84.91  84.91 2014-07-16  84.91  83.66  83.77  1755600
4      83.58  83.58 2014-07-15  84.38  83.20  84.30  1874700